body {
    background-color: #ddbea9;
    font-family: "Nunito", sans-serif;
}

#mainNavbar {
    font-size: 1.5em;
    font-weight: 100; 
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-weight: 400;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#headingGroup span {
    color: #EA1C2C;;
}
#headingGroup h1 {
    font-weight: 100;
    font-size: 3em;    
}

@media (max-width: 1400px) {
    #headingGroup h1 {
        font-size: 2em;    
    }
}
